body {
  background-image: linear-gradient(rgb(10, 5, 25), rgb(45, 25, 65));
  width: 100%;
  overflow-x: hidden;
  user-select: text;
}

main {
  margin: 1rem 1rem;
}

.navbar {
  background: #111;
  border-bottom: 1px solid rgb(165, 155, 255);
  margin-bottom: 0;
  z-index: 2;
}

.navbar-brand {
  cursor: default;
}

.navbar li a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.navbar li a:hover {
  color:rgb(235, 235, 180);
  text-decoration: none;
}

.navbar-brand:hover {
  outline: none;
  border: none;
  box-shadow: none;
  transform: scale(1.05);
}

.bannerContainer {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 3em;
  padding-right: 2rem;
  z-index: 0;
}

.bannerImage {
  width: 77.7%;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transform: translateX(0.75rem);
  @media (max-width: 960px) {
    width: 100%;
    transform: none;
  }
}

.bannerImage:hover {
  opacity: 1.0;
  border: none;
}

.btn-primary {
  background-color: slateblue;
  box-shadow: inset 0 1px 1px #fff, 0 0 1px #8ec1da;
  -o-box-shadow: inset 0 1px 1px #fff, 0 0 1px #8ec1da;
  -webkit-box-shadow: inset 0 1px 1px #fff, 0 0 1px #8ec1da;
  -moz-box-shadow: inset 0 1px 1px #fff,0 0 1px #8ec1da;
  border-radius: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid #3f3f3f;
  padding: 5px 15px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  user-select: contain;
}

.btn-primary:hover {
  background-color: slateblue;
  border-radius: 2rem 2rem;
  transition: 0.4s;
  opacity: 0.95;
  @media (max-width: 968px) {
    border-radius: initial;
    transition: none;
    opacity: 1;
  }
}

.container {
  max-width: 85%;
}

.col-md {
  margin: 1.5% 3%;
}

img { 
  transition: all ease-in .3s ease-out .3s;
}

img:hover {
  opacity: 0.8;
  border: 1px solid rgb(245, 235, 250);
  transition: all .5s ease;
}

.card-img-top {
  display: block;
  min-width: 100%;
  min-height: 20vw;
  object-fit: cover;
  border: none;
  box-shadow: 0 0 1px 1px rgb(165, 155, 255);
}

.card-title {
  color:darkslateblue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.card-title:hover {
  letter-spacing: 0.03em;
  transition: ease-in 500ms;
}

.card-body {
  background-color: rgb(245, 235, 250);
  font-family: 'Lato', 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(165, 155, 255);
  box-shadow: 0 1px 0 1px rgb(165, 155, 255);
}


@media (min-width: 1025px) {
  .card-title {
    user-select: text;
  }
  .row {
      margin-top: 2%;
   }
}

@media (max-width: 768px) and (orientation: landscape) {
  .col-md {
      min-width: 100%;
      height: auto;
  }
}